
<div id="create_countdown_table_cont">
	<h1>倒數產生器</h1>
	<div class="row">
		<div class="col-md-offset-3 col-md-2">
			<%= label_tag(:title, "倒數標題") %>
		</div>
		<div class="col-md-3">
			<%= text_field_tag(:title, "", :id=>"title") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-2">
			<%= label_tag(:end_title, "結束時的標題") %>
		</div>
		<div class="col-md-3">
			<%= text_field_tag(:end_title, "", :id => "end_title") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-2">
			<%= label_tag(:time, "目標時間") %>
		</div>
		<div class="col-md-4">
			<%= text_field_tag(:time, "", :id => "time", "data-date-format"=>"YYYY/MM/DD hh:mm") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-5 col-md-1">
			<%= submit_tag("建立", :id=>"btn_create") %>
		</div>
	</div>
</div>
<script type="text/javascript">
function goto_countdown(){
	var title = $("#title").val();
	var end_title = $("#end_title").val();
	if(title === ""){
		title = " ";
	}
	if(end_title === ""){
		end_title = " ";
	}
	var location = window.location.origin + "/" + 
		encodeURIComponent(title) +
		"/" + 
		encodeURIComponent(end_title) +
		"/" + 
		encodeURIComponent($('#time').data('DateTimePicker').getDate()._d.getTime()/1000);
	console.log(location);
	window.location = location;
}
$(function() {
	$("#btn_create").click(goto_countdown);
	$('#time').datetimepicker({
	  language: 'zh-TW',
	});
});
</script>