<!doctype html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="<%=@title%>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%=request.original_url%>">
  <title><%=@title%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>